<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platy.My.MySettings.persConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\pers.mdb"
            providerName="System.Data.OleDb" />
        <add name="Platy.My.MySettings.ciselnikConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\ciselnik.mdb"
            providerName="System.Data.OleDb" />
        <add name="Platy.My.MySettings.uvazkyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\uvazky.mdb"
            providerName="System.Data.OleDb" />
        <add name="Platy.My.MySettings.praxeConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\praxe.mdb"
            providerName="System.Data.OleDb" />
        <add name="Platy.My.MySettings.skolaConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\skola.mdb"
            providerName="System.Data.OleDb" />
        <add name="Platy.My.MySettings.lhutyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\radim.pasek\AppData\Local\Platy\Organizace\ZAKLADNI\Databaze\lhuty.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
